<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<PageTitle>Not found</PageTitle>
		<LayoutView Layout="@typeof(MainLayout)">
			<MainLayoutSetter>
				<DisplayHero>
					<Hero Large=false>
						<Title>
							Error <strong>404</strong>:
						</Title>
						<SubTitle>
							page not found
						</SubTitle>
					</Hero>
				</DisplayHero>
			</MainLayoutSetter>
			<SectionBase>
				<BigMudPaper>
					<MudText role="alert">Sorry, there's nothing at this address.</MudText>
				</BigMudPaper>
			</SectionBase>
		</LayoutView>
	</NotFound>
</Router>

@code {

}