<IndexSectionBase PositionIndex="@PositionIndex">
	<MudText>This website is still being built. In the meantime, please take a look at my CV <MudLink Color="Color.Secondary" Href="files/CV-William Sullivan.pdf">here</MudLink> and get in touch if you have a job opening to talk about.</MudText>
	<MudText>Or download it here: <MudFab Color="Color.Secondary" Label="CV-William Sullivan.pdf" EndIcon="@Icons.Material.Filled.Download" DisableElevation="true" Href="files/CV-William Sullivan.pdf" download="CV-William Sullivan.pdf" /></MudText>
	<MudDivider Class="my-3"/>

	<MudGrid>
		<MudItem xs="12" md="5" Class="d-flex flex-column">
			<div class="flex-fill">
				<img class="profile-pic" alt="William Sullivan" src="images/WilliamSullivan.png" />
			</div>
			<MudContainer Style="text-align:center;">
				<MudText Typo="Typo.h2" Class="m-0">William Sullivan</MudText>
				<MudText Typo="Typo.subtitle1"><i>hello@WilliamSullivan.dev</i></MudText>
				<MudContainer Class="d-flex justify-space-around" Style="max-width: 256px;">
					<MudIconButton Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Primary" aria-label="LinkedIn" Href="https://www.linkedin.com/in/william-sullivan-0764561b8/" Target="_blank" />
					<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Primary" aria-label="GitHub" Href="https://github.com/Rielk" Target="_blank" />
					<MudIconButton Icon="@Icons.Material.TwoTone.Mail" Color="Color.Primary" aria-label="Email" Href="mailto:hello@WilliamSullivan.dev" />
				</MudContainer>
			</MudContainer>
		</MudItem>
		<MudItem xs="12" md="7">
			<MudText Typo="Typo.h1">About</MudText>

			<MudText>Hi, I’m Will, a software developer and physics graduate. Originally from England, I recently moved to Canada for love, and I am currently based in <strong>Kingston, ON</strong>.</MudText>

			<MudText>I graduated from the <strong>University of Birmingham, England</strong>, with a Master’s Degree in Physics, a course which prided itself on teaching problem solving and critical thinking. It was there that I really discovered my passion for developing robust, high performance code.</MudText>

			<MudText>I’ve worked on a range of projects, from simple <strong>Python</strong> scripts, working with neural networks and machine learning, to larger projects, collecting and facilitating the analysis of oil production data for the entirety of Nigeria, utilising <strong>C#</strong> and <strong>SQL</strong>.</MudText>

			<MudText>I am currently seeking employment and I am able and willing to relocate anywhere in Ontario. If you have an opportunity to discuss, please don’t hesitate to contact me, I’d love to speak further.</MudText>
		</MudItem>
	</MudGrid>
</IndexSectionBase>

@code {
	[Parameter, EditorRequired]
	public int PositionIndex { get; set; }
}
