<div class="grid" grid-left=@ImageLeftString>
	<MudLink Href="@($"Projects/{SubPage}")" Underline="Underline.None" Class="image-container" image-container-left=@ImageLeftString>
		<MudPaper Class="pb-0 pt-5 px-5 overflow-y-hidden image-paper" image-paper-height=@ImageHeight>
			<MudStack AlignItems="AlignItems.Center">
				<MudText Typo="Typo.h4" Color="Color.Primary" Class="mono-font"><strong>@Title</strong></MudText>
				<MudText Typo="Typo.body1" Class="mud-text-secondary mono-font"><i>@Catchline</i></MudText>
				<MudImage Class="mt-3" Style="width: 100%" Src=@ImageSource Alt="Placeholder Project Picture" Elevation="1" />
			</MudStack>
		</MudPaper>
	</MudLink>

	<MudLink Href="@($"Projects/{SubPage}")" Underline="Underline.None" Class="content-container" content-container-left=@ImageLeftString>
		<BigMudPaper Id="@Id" Elevation="2">
			<ResponsiveSubTitle>
				<MainContent>
					<strong>@Title</strong>
				</MainContent>
			</ResponsiveSubTitle>

			<MudText>
				<i>@ChildContent</i>
			</MudText>

			@if (Tags != null)
			{
				<MudChipSet Row=true Spacing="2" Class="ma-2">
					@foreach (var tag in Tags)
					{
						<SmallMudChipTag>@tag</SmallMudChipTag>
					}
				</MudChipSet>
			}
		</BigMudPaper>
	</MudLink>
</div>
<style>
	.image-paper[image-paper-height="@ImageHeight"] {
		height: @string.Join("", ImageHeight, "px");
		width: 100%;
	}
</style>

@code {
	[Parameter]
	public string? Id { get; set; }
	[Parameter]
	public string? BackgroundColor { get; set; }

	[Parameter]
	public string? Title { get; set; }
	[Parameter]
	public string? Catchline { get; set; }
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public List<string>? Tags { get; set; }

	[Parameter]
	public string? SubPage { get; set; }

	[Parameter]
	public string? Date { get; set; }

	[Parameter]
	public bool ImageLeft { get; set; } = false;
	private string ImageLeftString => ImageLeft.ToString();

	[Parameter]
	public string ImageSource { get; set; } = "images/PlaceholderProject.png";
	[Parameter]
	public int ImageHeight { get; set; } = 400;
}

