@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter>
	<Hero>
		<div class="hero-buffer">
			<MudText Typo="Typo.h4" Class="hero-font">
				Hi! I'm <strong>William Sullivan</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="hero-font">
				I'm a <strong>software developer</strong>
			</MudText>
			<MudText Typo="Typo.body2" Class="hero-font">
				This website is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<div class="pt-8 pt-lg-12 rounded-t-xl" style="background-color: @(GetStyle(true));" />
<MudContainer MaxWidth="MaxWidth.False" Class="mx-0 px-0 py-xl-16">
	<About BackgroundColor="@GetStyle(true)" />
	<Projects BackgroundColor="@GetStyle(false)" />
	<Contact BackgroundColor="@GetStyle(true)" />
</MudContainer>
<div class="pb-8 pb-lg-12" style="background-color: @(GetStyle(true));" />

@code {
	[CascadingParameter]
	protected MudThemeProvider? MudThemeProvider { get; set; }

	string GetStyle(bool even)
	{
		if (MudThemeProvider?.IsDarkMode ?? false)
		{
			var paletteDark = MudThemeProvider.Theme?.PaletteDark ?? new PaletteDark();
			return even ? paletteDark.GrayLighter : paletteDark.GrayLight;
		}
		else
		{
			return even ? Colors.Grey.Lighten5 : Colors.Grey.Lighten4;
		}
	}
}

