@page "/"

<PageTitle>William Sullivan - Software Developer</PageTitle>

<MainLayoutSetter Links="@Links">
	<Hero>
		<div class="hero-buffer">
			<MudText Typo="Typo.h4" Class="hero-font">
				Hi! I'm <strong>William Sullivan</strong>
			</MudText>
			<MudText Typo="Typo.body1" Class="hero-font">
				I'm a <strong>software developer</strong>
			</MudText>
			<MudText Typo="Typo.body2" Class="hero-font">
				This website is <strong>under construction</strong>.
			</MudText>
		</div>
	</Hero>
</MainLayoutSetter>

<div class="pt-8 pt-lg-12 rounded-t-xl" style="background-color: @(Layout.GetBackColor(true));" />
<MudContainer MaxWidth="MaxWidth.False" Class="mx-0 px-0 py-xl-16">
	<AboutSection Id="about" BackgroundColor="@Layout.GetBackColor(true)" />
	<WorkExperienceSection Id="workExperience" BackgroundColor="@Layout.GetBackColor(false)" />
	<ProjectsSection Id="projects" BackgroundColor="@Layout.GetBackColor(true)" />
	<ContactSection Id="contact" BackgroundColor="@Layout.GetBackColor(false)" />
</MudContainer>
<div class="pb-8 pb-lg-12" style="background-color: @(Layout.GetBackColor(false));" />

@code {
	[CascadingParameter(Name = "Layout")]
	protected MainLayout Layout { get; set; } = null!;

	private List<LinkDetails>? Links { get; } = new() {
		new("#", "Home"),
		new("#about", "About"),
		new("#workExperience", "Experience"),
		new("#projects", "Projects"),
		new("#contact", "Contact") };
}

